@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
nav{
  /* background: #1b1b1b; */
  /* background: rgb(67,26,128);
background: linear-gradient(90deg, rgba(67,26,128,1) 24%, rgba(98,6,134,1) 60%); */
background: rgb(41,41,41);

}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: bolder;
  line-height: 70px;
  padding-left: 60px;
  /* font-family: Impact, Charcoal, sans-serif; */
  font-family: "Lucida Console", Monaco, monospace;
}
nav .logospan{
  color: #FF3361;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  display: inline-block;
  /* background: #1b1b1b; */
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 5px #33ffff,
               0 0 10px #66ffff;
}

.icon, .hide{
  display: none;
  /* ,input */
}
@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  
  [id^=btn]:checked + ul{
    display: block;
  }
 
}